{% extends 'base.html' %}

{% block content %}
    <h1 style="font-family: 'Comic Sans MS', cursive;">Estatísticas</h1>

    <div class="row">
        <div class="col-md-6">
            <h3>Total de Despesas: R$ {{ total_despesas|floatformat:2 }}</h3>
            <h3>Total de Depósito: R$ {{ total_depositos|floatformat:2 }}</h3>

            <h3 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                <i class="bi bi-person-circle"></i> {{ request.user }}
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 mx-auto">
            <canvas id="grafico" style="max-width: 100%;"></canvas>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const categorias = {{ categorias_django|safe }};
            const valores = {{ valores_django|safe }};
            const cores = categorias.map(function(categoria) {
                return categoria === 'Depósitos' ? 'rgba(75, 192, 75, 0.6)' : 'rgba(255, 99, 132, 0.6)'; // Verde para depósitos, vermelho para despesas
            });

            const ctx = document.getElementById('grafico').getContext('2d');
            const datasets = [{
                label: 'Total por Categoria',
                data: valores,
                backgroundColor: cores,
                borderColor: cores.map(function(cor) {
                    return cor.replace('0.6', '1'); // Aumenta a opacidade para a borda
                }),
                borderWidth: 1
            }];

            const myChart = new Chart(ctx, {
                type: 'pie',
                data: {
                    labels: categorias,
                    datasets: datasets
                },
                options: {
                    plugins: {
                        legend: {
                            display: true,
                            position: 'top'
                        },
                        tooltip: {
                            callbacks: {
                                label: function (context) {
                                    return context.label + ': R$ ' + context.formattedValue;
                                }
                            }
                        }
                    }
                }
            });
        });
    </script>
{% endblock %}
