{% extends 'base.html' %}
{% block content %}
<div>
    <div>
        <div>
            <div>
                <table class="table table-striped">
                    <thead>
                       <tr>
                        <th>
                            Despesa
                        </th>
                        <th>
                            Valor
                        </th>
                        <th>
                            Data
                        </th>
                        <th>
                            Ações
                        </th>
                       </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for despesa in despesas %}
                            <th> {{despesa.nome}} </th>
                            <th> {{despesa.valor}}</th>
                            <th> {{despesa.data|date:'d/m/y'}} </th>
                            <th> 
                                <a href="{% url 'editar_despesa' despesa.pk %}" class="btn btn-warning"> 
                                    <i class="bi bi-pencil-square"></i>  Editar
                                 </a> 
                                 <a href="{% url 'excluir_despesa' despesa.id %}" class="btn btn-danger"> 
                                     <i class="bi bi-file-x-fill"></i>Excluir
                            </th>
                          
                            
                        </a> 
                    </th> 
                        </a>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">Nenhuma despesa encontrada.</td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}