{% extends 'base.html' %}
{% block content %}
<div>
    <div>
        <div>
            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                Despesa
                            </th>
                            <th>
                                Valor
                            </th>
                                <th>
                                    Data
                                </th>
                        </tr>
                    </thead>
                    <tbody>
             

                        <tr>
                            {% for despesa in despesas %}
                            <th> {{despesa.nome}}</th>
                            <th> {{despesa.valor}}</th>
                            <th>{{despesa.data|date:'d/m/y'}}</th>
                            <th><i class="bi bi-pencil-square"></i> Editar</th>
                            <a href="{% url 'excluir_despesa' despesa.id %}"><th><i class="bi bi-file-x-fill"></i> </th></a>
                            {% endfor %}
                        </tr>
                     
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}