{% extends 'base.html' %}
{% block content %}
<div>
    <div>
        <h2>Lista de Categorias</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for categoria in categorias %}
                <tr>
                    <td>{{ categoria.nome }}</td>
                    <td>{{ categoria.descricao }}</td>
                    <td>
                        <a href="{% url 'editar_categoria' categoria.pk %}" class="btn btn-warning">
                            <i class="bi bi-pencil-square"></i> Editar
                        </a>
                        <a href="{% url 'excluir_categoria' categoria.pk %}" class="btn btn-danger">
                            <i class="bi bi-file-x-fill"></i> Excluir
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mt-4">
        <h3>Adicionar Nova Categoria</h3>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-success" type="submit">Adicionar Categoria</button>
        </form>
    </div>
</div>
{% endblock %}
